### 1. WAP to create the empty set

In [7]:
s1=set()
print(s1)
print(type(s1))

set()
<class 'set'>

### 2. WAP to create the set

In [11]:
myset={1,2,3,4,5}
print(myset)

{1, 2, 3, 4, 5}

### 3. WAP to iterate over set

In [13]:
myset={10,20,30,40,50,60}
for i in myset:
    print(i)

50
20
40
10
60
30

### 3. Add a list of elements into the given set

In [18]:
set={'apple','banana','grapes','kivi','mango'}
list=['red','blue','black']
set.update(list)
set

{'apple', 'banana', 'black', 'blue', 'grapes', 'kivi', 'mango', 'red'}

### 4. Return a new set of identical items from two sets

In [27]:
set1={10,20,30,40,50,60}
set2={10,40,20}

new_set=set1.intersection(set2)
print(new_set)

{40, 10, 20}

### 5. WAP to get only unique items from the two sets

In [30]:
set1={10,20,30,40,50,60}
set2={10,40,20,90,50,100}

new_set=set1.union(set2)
print(new_set)

{100, 40, 10, 50, 20, 90, 60, 30}

### 6. WAP t update the first set with items that donst exists in the second set

In [43]:
set1={"red","white","blue"}
set2={"pink","red","black"}

set1.difference_update(set2)
set1

{'blue', 'white'}

### 7. WAP to remove the items from the set at once

In [55]:
set={1,2,3,4,5,6,7,8}
set.difference_update({1,5,3,6,2})
set

{4, 7, 8}

### 8. Return a set of elements present in the set A or B bt not both

In [58]:
A={1,2,3,4,5,6}
B={3,2,6,4,9,7}

union=A.union(B)
inter=A.intersection(B)

new_set=union-inter
print(new_set)

{1, 5, 9, 7}

### 9. Check if two sets have any element in common

In [65]:
A={10,20,30,40,50,60}
B={40,30,80,45,10}

if A.isdisjoint(B)==False:
    print(A.intersection(B))
else:
    print("There is no common element")

{40, 10, 30}

### 10. Update set1 by adding the items from set2, except common elements

In [75]:
set1={11,45,29,67,23,30,19}
set2={34,11,67,40,50,83,30}

a=set2.difference(set1)         #elements excepts the common elements from set2
print(a)
set1.update(a)     
set1

{40, 34, 83, 50}

{11, 19, 23, 29, 30, 34, 40, 45, 50, 67, 83}