### 1. WAP to print first 10 natural numbers using for loop

In [2]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. WAP to print numbers from the list using for loop

In [12]:
list=[10,2,1,5,19,23,17]
for i in list:
    print(i)

10
2
1
5
19
23
17

### 3. WAP to print characters in word

In [9]:
language="Python"
for i in language:
    print(i)

P
y
t
h
o
n

### 4. WAP to count the total numbers of digit in number

In [25]:
num=(input("Enter a number"))
count=0
for i in num:
    count=count+len(i)
print(count)

Enter a number 354

3

### 5. WAP Print the list in reverse order using loop

In [45]:
list1=[10,80,25,18,30,24,17]
list2=[]
for i in range(len(list1)-1,-1,-1):
    list2.append(list1[i])   
list2

[17, 24, 30, 18, 25, 80, 10]

### 6. WAP to print all the even numbers within range

In [59]:
n=int(input("Enter the value of n:"))
for i in range(n):
    if i%2==0:
        print(i,end="  ")

Enter the value of n: 40

0  2  4  6  8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38

### 7. WAP to print all the odd numbers within range

In [64]:
n=int(input("Enter the value of n:"))
for i in range(n):
    if i%2!=0:
        print(i,end="  ")

Enter the value of n: 40

1  3  5  7  9  11  13  15  17  19  21  23  25  27  29  31  33  35  37  39

### 8. WAP to print sum of all the numbers from 1 to given number

In [75]:
n=int(input("Enter the value of n :"))
sum=0
for i in range(1,n):
    sum=sum+i
print("Sum =",sum)

Enter the value of n : 11

Sum = 55

### 9. WAP to print sum of all odd  numbers from 1 to given number

In [3]:
n=int(input("Enter the value of n :"))
sum=0
for i in range(1,n):
    if i%2!=0:
        sum=sum+i
print("Sum = ",sum)

Enter the value of n : 20

Sum =  100

### 10. WAP to print multiplication table of given number

In [9]:
num=int(input("Enter a number : "))
for i in range(1,11):
    print(i*num)

Enter a number :  5

5
10
15
20
25
30
35
40
45
50