### 1. Write a python function to find the maximum of three numbers

In [2]:
def max(a,b,c):
    if a>b and a>c:
        print(a,'is the largest number')
    elif b>a and b>c:
        print(b,'is the largest number')
    else:
        print(c,'is the largest number')

max(12,60,34)

60 is the largest number

### 2. Write a python function to find the sum of all numbers in list

In [5]:
def sum(list):
    sum=0
    for i in list:
        sum=sum+i
    return sum

sum([8,2,3,-1,7])

19

### 3. Write a pyhton function to reverse a string

In [24]:
def reverse(str):
    rev_str=str[::-1]
    return rev_str

reverse('1234abcd')

'dcba4321'

### 4. Write a python function to calculate the factorial of number (non negative) . The function accept the number as an arguement.

In [32]:
def factorial(n):
    fact=1
    i=1
    while i<=n:
        fact=fact*i
        i=i+1
    return fact

factorial(4)

24

### 5. Write a python function to multiply all the numbers in list

In [35]:
def multiplication(list):
    multi=1
    for i in list:
        multi=multi*i
    return multi

multiplication([3,9,2,6,1])

324

### 6. Write a python function to check whether a number falls within the given range

In [38]:
def check_range(n):
    if n in range(1,50):
        print(n,'falls within the range 1 to 50')
    else:
        print(n,'does not falls within the range 1 to 50')

check_range(5)

5 falls within the range 1 to 50

### 7. Write a python function that accepts the string and counts the number of upper and lower case letters

In [47]:
def upper_lower(str):
    uc=0
    lc=0
    for i in str:
        if i.isupper():
            uc=uc+1
        elif i.islower():
            lc=lc+1
        else:
            pass   # if i is neither upper nor lower
    print('No of upper case charachters :',uc)
    print('No of lower case charachters :',lc)

upper_lower('The quick Brow Fox')

No of upper case charachters : 3
No of lower case charachters : 12

### 8. Write a python function that takes a list and returns a new list with the distinct elements from the first list

In [57]:
def unique_list(list):
    unique_list=[]
    for i in list:
        if i not in unique_list:
            unique_list.append(i)
    return  unique_list

unique_list([2,1,8,4,0,0,2,4,8,8,3])

[2, 1, 8, 4, 0, 3]

### 9.Write a python function that takes a number as parameter and checks whether number is prime or not

In [83]:
def prime(num):
    for i in range(2,num):
        if num%i==0:
            print(num,'is not prime number')
            break
    else:
        print(num,'is prime number')

prime(19)

19 is prime number

### 10. Write the python function to print even numbers from the list

In [90]:
def even_list(list):
    even_list=[]
    for i in list:
        if i%2==0:
            even_list.append(i)
    return even_list

even_list([2,5,6,3,9,6,10,40,28])

[2, 6, 6, 10, 40, 28]