### 1. WAP to generate and print a dictionary that contains a number between (1 and n) in the form of (x,x*x)

In [64]:
n=5
dict={}
i=1
while(i<=n):
    dict.update({i:i*i})
    i=i+1
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### 2. WAP to merge the two python dictionaries

In [72]:
def merge(d1,d2):
    merge_dict=d1.copy()
    merge_dict.update(d2)
    return merge_dict
    
merge({1:'Aman',2:'Virat',3:'Rohit'},{'color':['pink','red','back']})

{1: 'Aman', 2: 'Virat', 3: 'Rohit', 'color': ['pink', 'red', 'back']}

### 3. WAP to iterate over dictionaries using for loop

In [79]:
dict={1:'Red',2:'White',3:'Black',4:'Green'}
for key,value in dict.items():
    print(key,'corresponds to',value)

1 corresponds to Red
2 corresponds to White
3 corresponds to Black
4 corresponds to Green

### 4. WAP to sum all the items in dictionary

In [104]:
def sum_value(dict):
    
    values=dict.values()
    print(values)

    sum=0
    for val in values:
        sum=sum+val

    print('Sum of all the values is',sum)

sum_value({'a':100, 'b':75 , 'c':60})

dict_values([100, 75, 60])
Sum of all the values is 235

### 5. WAP to multiply all the items in dictionary

In [111]:
def multiply_value(dict):
    values=dict.values()
    print(values)

    res=1
    for val in values:
        res=res*val
    print("Multiplication of all values is",res) 

multiply_value({'data1':20,'data2':40,'data3':10})

dict_values([20, 40, 10])
Multiplication of all values is 8000

### 6. Print the letter Q in the form of * pattern

In [26]:
for row in range(8):
    for col in range(5):
        if (((col==0 or col==4) and (row!=0 and row!=6)) and row!=7) or ((row==0  or row==6) and (col>0 and col<4)) or (row==5 and col==1) or (row==7 and col==3):
            print('*',end='')
        else:
            print(end=' ')
    print()

 ***
*   *
*   *
*   *
*   *
**  *
 ***
   *

### 7. Print the letter R in the form of * pattern

In [23]:
for row in range(7):
    for col in range(5):
        if (col==0) or (row==3 and col!=4) or (row==0 and (col>0 and col<4)) or (col==4 and (row!=0 and row!=3)):
            print('*',end='')
        else:
            print(end=' ')
    print()

****
*   *
*   *
****
*   *
*   *
*   *

### 8. print the letter S in the form of * pattern

In [36]:
for row in range(7):
    for col in range(5):
        if ((row==0 or row==3 or row==6 ) and (col>0 and col<4)) or (col==0 and (row==1 or row==2)) or (col==4 and (row==4 or row==5)):
            print('*',end='')
        else:   
            print(end=' ')
    print()

 ***
*
*
 ***
    *
    *
 ***

### 9 print the letter T in the form of * pattern

In [43]:
for row in range(7):
    for col in range(5):
        if (row==0) or (col==2 and row!=0):
            print('*',end='')
        else:
            print(end=' ')
    print()

*****
  *
  *
  *
  *
  *
  *

### 10. Print the letter T in the form of * pattern

In [52]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row!=6)) or (row==6 and (col>0 and col<4)):
            print("*",end='')
        else:
            print(end=' ')
    print()

*   *
*   *
*   *
*   *
*   *
*   *
 ***