### 1. Remove items from the set1 that are not common to both set1 and set2

In [2]:
set1={10,20,30,40,50,60}
set2={20,40,70,50,80,90}

set1.intersection_update(set2)
print(set1)

{40, 50, 20}

### 2. Write a function to check if inputed number is even or odd

In [5]:
def evenorodd(num):
    if num%2==0:
        print('even')
    else:
        print('odd')

evenorodd(34)

even

### 3. WAP to print the multiplication of numbers

In [7]:
def multiply(*args):            #(*args) is used when we are not sure about how many inputs are going to use by user
    product=1
    for i in args:
        product=product*i
    print(product)    

multiply(1,2,3,4,5)

120

### 4. Print the Charachters Present at the even Index number

In [23]:
str=input("Enter a word :")
x=list(str)
for i in x[0::2]:
    print(i)

Enter a word : beautiful

b
a
t
f
l

### 5. Remove first n charachters from the string

In [28]:
str=input("Enter a String :")
n=int(input("Enter a value of n:"))
print(str[n:])

Enter a String : beautiful
Enter a value of n: 3

utiful

### 6. Check if the first and last numbers of list are same

In [31]:
list=[10,45,86,35,20,85,30,10]
if list[0]==list[-1]:
    print('First and Last numbers of list are same')

First and Last numbers of list are same

### 7. WAP to display the numbers from list divisible by 5

In [2]:
list=[34,60,10,70,36,25,59]
for i in list:
    if i%5==0:
        print(i)

60
10
70
25

### 8. Find the occurences of substring in string

In [13]:
str='Emma is good developer. Emma is writer.'
sub_str='Emma'
count=str.count(sub_str)
print("Emma appeared",count,"times")

Emma appeared 2 times

### 9. WAP to create a new list such that latest list should contain odd numbers from the first list and even numbers from second list

In [18]:
list1=[10,20,25,30,35]
list2=[40,45,60,75,90]
new_list=[]
for i in list1:
    if i%2!=0:
        new_list.append(i)
for j in list2:
    if j%2==0:
        new_list.append(j)
print(new_list)

[25, 35, 40, 60, 90]

### 10. Get the each digit from a number in reverse order

In [29]:
num=int(input('Enter a number:'))
while(num>0):
    rem=num%10
    num=num//10
    print(rem,end='')

Enter a number: 12345

54321