### 1. WAP to accept the 10 numbers from users and display its average

In [1]:
i=1
sum=0
while(i<=10):
    n=int(input('Enter a number :'))
    sum=sum+n
    i=i+1
avg=sum/10    
print('Average is',avg)

Enter a number : 1
Enter a number : 2
Enter a number : 3
Enter a number : 4
Enter a number : 5
Enter a number : 6
Enter a number : 7
Enter a number : 8
Enter a number : 9
Enter a number : 10

Average is 5.5

### 2. WAP to accept the 10 numbers from users and display largest and smallest number

In [6]:
list=[]
i=1
while (i<=10):
    num=int(input('Enter a number :'))
    list.append(num)
    i=i+1
print(list)
max_num=max(list)
min_num=min(list)
print(max_num)
print(min_num)

Enter a number : 40
Enter a number : 94
Enter a number : 63
Enter a number : 10
Enter a number : 34
Enter a number : 65
Enter a number : 20
Enter a number : 87
Enter a number : 50
Enter a number : 14

[40, 94, 63, 10, 34, 65, 20, 87, 50, 14]
94
10

### 3. WAP to display sum of add numbers separately that falls between two numbers accepted from user (including both numbers)

In [15]:
num1=int(input('Enter a starting value :'))
num2=int(input('Enter a ending value :'))
ev=0
od=0
if num1>num2:
    while (num2<=num1):
        if num2%2==0:
            ev=ev+num2
        else:
            od=od+num2
        num2=num2+1

else:
    while (num1<=num2):
        if num1%2==0:
            ev=ev+num1
        else:
            od=od+num1
        num1=num1+1

    
print("Sum of Even numbers is :",ev)
print("Sum of Odd numbers is :",od)

Enter a starting value : 30
Enter a ending value : 20

Sum of Even numbers is : 150
Sum of Odd numbers is : 125

### 4. WAP to find the common elements in two lists using for loop

In [5]:
list1=[3,8,2,0,5,7,10]
list2=[4,7,2,9,6,10,5]
common_element=[]
for i in list1:
    if i in list2:
        common_element.append(i)
print(common_element)

[2, 5, 7, 10]

### 5. WAP to print the list in reverse order using loop

In [15]:
list=[10,20,30,40,50]
for i in range(len(list)-1,-1,-1):
    print(list[i])

50
40
30
20
10

### 6. Print the Pattern

In [28]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        if i%2!=0:
            print('A',end=' ')
        else:
            print('B',end=' ')
    print()

A
B B
A A A
B B B B
A A A A A

### 7. Print the pattern

In [33]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(' ',end=' ')
    for j in range(i,n+1):
        if i%2!=0:
            print('1',end=' ')
        else:
            print('3',end=' ')
    print()

  1 1 1 1 1
    3 3 3 3
      1 1 1
        3 3
          1

### 8. Print the pattern

In [38]:
n=5
for i in range(1,n+1):
    for j in range(i,n+1):
        print(" ",end=' ')
    for j in range(1,i+1):
        if i%2!=0:
            print('#',end=' ')
        else:
            print('$',end=' ')
    for j in range(2,i+1):
        if i%2!=0:
            print('#',end=' ')
        else:
            print('$',end=' ')
    print()

          #
        $ $ $
      # # # # #
    $ $ $ $ $ $ $
  # # # # # # # # #

### 9. Print the pattern

In [45]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(' ',end=' ')
    for j in range(i,n+1):
        if i%2!=0:
            print('1',end=' ')
        else:
            print('0',end=' ')
    for j in range(i,n):
        if i%2!=0:
            print('1',end=' ')
        else:
            print('0',end=' ')
    print()

  1 1 1 1 1 1 1 1 1
    0 0 0 0 0 0 0
      1 1 1 1 1
        0 0 0
          1

### 10. Print the pattern

In [52]:
n=5
for i in range(1,n+1):
    for j in range(i,n+1):
        print(" ",end=' ')
    for j in range(1,i+1):
        if i%2!=0:
            print('#',end=' ')
        else:
            print('$',end=' ')
    for j in range(2,i+1):
        if i%2!=0:
            print('#',end=' ')
        else:
            print('$',end=' ')
    print()        

for i in range(2,n+1):
    for j in range(1,i+1):
        print(' ',end=' ')
    for j in range(i,n+1):
        if i%2!=0:
            print('#',end=' ')
        else:
            print('$',end=' ')
    for j in range(i,n):
        if i%2!=0:
            print('#',end=' ')
        else:
            print('$',end=' ')
    print()

          #
        $ $ $
      # # # # #
    $ $ $ $ $ $ $
  # # # # # # # # #
    $ $ $ $ $ $ $
      # # # # #
        $ $ $
          #