### 1. Write s python function to find the shortest and longest word

In [2]:
def short_long_word(word_list):
    shortest_word=min(word_list,key=len)
    longest_word=max(word_list,key=len)
    return shortest_word , longest_word

short_long_word(['apple','banana','grape','kiwi','papaya','jackfruit'])

('kiwi', 'jackfruit')

### 2. Write a python function to append the element in existence list

In [8]:
def add_element(list,element):
    if element not in list:
        list.append(element)
    return list
    
list=['Red','Pink','Black']
add_element(list,'Pink')
add_element(list,'White')

['Red', 'Pink', 'Black', 'White']

### 3. Write a python function to remove the duplicates and sort the list

In [13]:
def remove_duplicate_sort(list):
    sorted_list=sorted(set(list))
    return sorted_list

remove_duplicate_sort(['kiwi','apple','jelly','stawberry','banana','apple','banana','kiwi'])

['apple', 'banana', 'jelly', 'kiwi', 'stawberry']

### 4. Write a function to find second occurence

In [30]:
def second_occurence_index(my_list,element):
    occurence=[]
    for index in range(len(my_list)):
        if my_list[index]==element:
            occurence.append(index)

    if len(occurence)<2:
        return -1
    else:
        return occurence[1]      # index of second occurence in my_list


my_list=['kiwi','apple','jelly','stawberry','banana','apple','banana','kiwi','apple']
element='apple'
second_occurence_index(my_list,element)

5

### 5. Write a python function to sorting the non negative numbers

In [33]:
def sort_non_neg_num(my_list):
    non_neg_num=[]
    for i in my_list:
        if i>=0:
            non_neg_num.append(i)
    sorted_list=sorted(non_neg_num)
    return sorted_list

sort_non_neg_num([4,-2,7,2,-5,0,-10,3,11,-4,-6])

[0, 2, 3, 4, 7, 11]

### 6. WAP to print the pattern

In [48]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(1,i+1):
        print(j,end=' ')
    print()    

for i in range(2,n+1):
    p=1
    for j in range(i,n+1):
        print(p,end=' ')
        p=p+1
    for j in range(2,i+1):
        print(' ',end=' ')
    for j in range(2,i+1):
        print(' ',end=' ')
    p=1    
    for j in range(i,n+1):
        print(p,end=' ')
        p=p+1
    print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1

### 7. WAP to print the pattern

In [101]:
n=5
for i in range(n,-1,-1):
    for j in range(n,i,-1):
        print(' ',end=' ')
    for j in range(n,n-i,-1):
        print(j,end=' ')
   
    print()

5 4 3 2 1
  5 4 3 2
    5 4 3
      5 4
        5

### 8. WAP to print the pattern

In [106]:
n=4
p=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(p,end=' ')
        p=p+1
    print()

1
2 3
4 5 6
7 8 9 10

### 9. WAP to print the pattern

In [109]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        if i%2==0:
            print('0',end=' ')
        else:
            print('1',end=' ')
    print()

1
0 0
1 1 1
0 0 0 0
1 1 1 1 1

### 10. WAP to print pattern

In [112]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        if j%2==0:
            print('1',end=' ')
        else:
            print('0',end=' ')
    print()

0
0 1
0 1 0
0 1 0 1
0 1 0 1 0