### Create a list with values ranging from 0 to 9.

In [2]:
list1=list(range(0,10))
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Convert a list of integers to a list of strings.

In [9]:
list_int=[1,2,3,4,5]

str_list=[]
for i in list_int:
    str_list.append(str(i))

print(str_list)

['1', '2', '3', '4', '5']