### 1. Create the 5*5 list of lists with row values ranging from 0 to 4.

In [8]:
matrix = [[i for i in range(5)] for i in range(5)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

### 2. Find the index of maximum value in list.

In [13]:
list1=[4,0,28,4,-1,6,30]
max_index=list1.index(max(list1))
print(max_index)

6

### 3. Calculate dot product of two lists.

In [16]:
list1=[1,2,3]
list2=[4,5,6]
dot_product=sum(x*y for x,y in zip(list1,list2))
print(dot_product)

32

### 4. Count the number of elements in list within a specific range.

In [19]:
list1=[2,9,1,0,4,8,3,12]
count_within_range=sum(5 <= x <= 12 for x in list1)
print(count_within_range)

3

### 5. Find the mean of each row in a 2D list.

In [24]:
import random
matrix=[[random.random() for _ in range(4)] for _ in range(3)]
row_means=[sum(row) / len(row) for row in matrix]
print(row_means)

[0.4424685297567152, 0.24837838574830184, 0.5423535757853332]