### 1. Convert decimal to binary

In [98]:
n=int(input("Enter a number :"))
list=[]
while(n>0):
    rem=n%2
    list.append(rem)
    n=int(n)//2  
print(list)            #binary
list1=list[::-1]
print(list1)           #reverse of binary
for i in list1:
    print(i,end="")

Enter a number : 25

[1, 0, 0, 1, 1]
[1, 1, 0, 0, 1]
11001

### 2. Convert binary to decimal

In [107]:
str=input("enter a number")
n=len(str)
sum=0
for i in str:
    res=int(i)*(2)**(n-1)          # if num=11001
    sum=sum+res                    # indexing is [4,3,2,1,0]
    n=n-1                          # 1*(2^4)+1*(2^3)+0*(2^2)+0*(2^1)+1*(2^0)
print(sum)                         # sum=25

enter a number 11001

25

### 3. Convert decimal to octal

In [124]:
num=int(input("enter a number"))
list=[]
while(num>0):
    rem=num%8
    list.append(rem)
    num=num//8
print(list)
list1=list[::-1]
print(list1)
for i in list1:
    print(i,end="")

enter a number 15

[7, 1]
[1, 7]
17

### 4. Convert Octal to Decimal

In [128]:
num=input("Enter a number :")
n=len(num)
sum=0
for i in num:
    res=int(i)*(8)**(n-1)
    sum=sum+res
    n=n-1
print(sum)

Enter a number : 1246

678

### 5. Convert decimal to hexadecimal

In [141]:
num=int(input("Enter a number :"))
list=[]
while(num>0):
    rem=num%16
    if rem==10:
        rem='A'
    elif rem==11:
        rem='B'
    elif rem==12:
        rem='C'
    elif rem==13:
        rem='D'
    elif rem==14:
        rem='E'   
    elif rem==15:
        rem='F'
    list.append(rem)
    num=num//16
print(list)
list1=list[::-1]
for i in list1:
    print(i,end="")

Enter a number : 314

['A', 3, 1]
13A

### 6. Convert hexadecimal to decimal

In [152]:
num=input("Enter a number :")
n=len(num)
sum=0
list=[]
for i in num:
    if i=='A':
        i=10
    elif i=='B':
        i=11
    elif i=='c':
        i=12
    elif i=='D':
        i=13
    elif i=='E':
        i=14
    elif i=='F':
        i=15    
    res=int(i)*(16)**(n-1)
    sum=sum+res
    n=n-1
print(sum)

Enter a number : 4B7

1207

### 7. Pattern

In [2]:
n=int(input("Enter a number :"))
for i in range(n,0,-1):
    for j in range(i,n+1):
        print(i,end=" ")
    print()

Enter a number : 5

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

### 8. Pattern

In [9]:
n=int(input("Enter a number:"))
for i in range(n,0,-1):
    for j in range(i,n+1):
        print(j,end=' ')
    print()

Enter a number: 5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

### 9. Pattern

In [16]:
n=int(input("Enter a number:"))
for i in range(n,0,-1):
    for j in range(n,i-1,-1):
        print(j,end=' ')
    print()

Enter a number: 5

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

### 10. Pattern

In [28]:
n=int(input("Enter a number:"))
for i in range(n,0,-1):
    for j in range(n,i-1,-1):
        print(i*i,end="  ")
    print()

Enter a number: 5

25
16  16
9  9  9
4  4  4  4
1  1  1  1  1