### 1. Print the Pattern

In [6]:
n=int(input("Enter a number :"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print()

Enter a number : 5

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### 2. Print the Pattern

In [43]:
n=int(input('Enter a number :'))
for i in range(1,n):
    for j in range(i,n+1):
        print(" ",end='')
    for j in range(1,i+1):
        print("*",end=" ")
    print()
for i in range(1,n):
    for j in range(i,n-1):
        print(" ",end='')
    for j in range(4,i+6):
        print("*",end=" ")
    print()

Enter a number : 5

     *
    * *
   * * *
  * * * *
   * * *
  * * * *
 * * * * *
* * * * * *

### 3. Print the Pattern

In [40]:
n=6
for i in range(1,n+1):
    for j in range(1,i+1):
        print(" ",end=" ")
    for j in range(1,n-i+2):
        print(j,end=" ")
    for j in range(n-i,0,-1):
        print(j,end=" ")
    print()

  1 2 3 4 5 6 5 4 3 2 1
    1 2 3 4 5 4 3 2 1
      1 2 3 4 3 2 1
        1 2 3 2 1
          1 2 1
            1

### 4 Print the Pattern

In [85]:
n=6
for i in range(1,n+1):
    for j in range(i,n+1):
        print(" ",end="")
    for j in range(1,i+1):
        print(i,end=" ")  
    print()

      1
     2 2
    3 3 3
   4 4 4 4
  5 5 5 5 5
 6 6 6 6 6 6

### 5.Print the letter A in the form of * pattern

In [10]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row!=0)) or ((row==0 or row==3) and (col>0 and col<4)):
            print("*",end='')
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

### 6.Print the letter B in the form of * patternÂ¶

In [85]:
for row in range(7):
    for col in range(5):
        if (col==0) or (col==4 and  (row!=0 and row!=3 and row!=6) ) or ((row==0 or row==3 or row==6) and (col>0 and col<4)) : 
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*   *
*   *
****

### 7.Print the letter C in the form of * pattern

In [125]:
for row in range(7):
    for col in range(5):
        if (col==0 and row!=0 and row!=6) or ((row==0 or row==6) and (col>0)):
            print("*",end="")
        else:
            print(end=' ')
    print()

 ****
*
*
*
*
*
 ****

### 8.Print the letter D in the form of * pattern

In [136]:
for row in range(7):
    for col in range(5):
        if (col==0 or (col==4 and row!=0 and row!=6)) or ((row==0 or row==6) and (col>0 and col<4)):
            print("*",end='')
        else:
            print(end=" ")
    print()

****
*   *
*   *
*   *
*   *
*   *
****

### 9.Print the letter E in the form of * pattern

In [139]:
for row in range(7):
    for col in range(5):
        if (col==0) or (row==0 or row==3 or row==6):
            print('*',end='')
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*****

### 10.Print the letter F in the form of * pattern

In [144]:
for row in range(7):
    for col in range(5):
        if (col==0) or (row==0 or row==3):
            print("*",end='')
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*