### 1. Find the length of the tuple

In [4]:
def len_tup(tup):
    return len(tup)

len_tup((1,2,3,4,5))

5

### 2. WAP to create the tuple

In [2]:
tuple1=tuple()
print(tuple1)

()

### 3. WAP to create the tuple with the different data type

In [7]:
tuple2=(23,"True",54.90,"Good Morning")
print(tuple2)

(23, 'True', 54.9, 'Good Morning')

### 4. WAP to create the tuple of numbers and print one item

In [14]:
tuple3=(1,2,3,4,5,6,7)
print(tuple3)

tuple3=(2,)
print(tuple3)

(1, 2, 3, 4, 5, 6, 7)
(2,)

### 5. WAP to unpack the tuple into several variables

In [21]:
tuple=(3,4,5,6)
print(tuple)

n1,n2,n3,n4=tuple
print(n1)
print(n2)
print(n3)
print(n4)

(3, 4, 5, 6)
3
4
5
6

### 6. WAP to convert the tuple to a string

In [23]:
tuple=('a','p','p','l','e')
str=''
for i in tuple:
    str=str+i
print(str)

apple

### 7. WAP to get the 4th element from the last elemnt of the tuple

In [30]:
tuple=('e',2,'h',5,4,6,7,'g')
tuple[-4]

4

### 8. WAP to make colon/copy of the tuple

In [41]:
t1=(1,2,3,4,5)
t2=t1[::]
print(t2)

(1, 2, 3, 4, 5)

In [47]:
from copy import deepcopy

tuple=(54,'hello',[],46.81)
tuple_copy=deepcopy(tuple)
print(tuple_copy)

(54, 'hello', [], 46.81)

### 9. WAP to find the repeated items in the tuple

In [76]:
tuple=(1,2,3,4,1,5,3,8,2,5,3,0)
list=[]
for i in tuple:
    a=tuple.count(i)            # count the occurence of the item in tuple
    if a>1:
        if i not in list:
            list.append(i)
print("Repeated items in the tuple are ",list)

Repeated items in the tuple are  [1, 2, 3, 5]

### 10. WAP to convert list into tuple

In [3]:
list=[1,2,3,4,5]
print(list)
t1=tuple(list)
print(t1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)