### 1. Write a python function that takes two llists and returns True if they have at least one common member

In [13]:
def common(list1,list2):
    for i in list1:
        for j in list2:
            if i==j:
                return True

common([1,2,3,4,5],[6,2,5,9,6])

True

### 2. WAP to print the specified list after removing 0th,4th,and 5th element

In [30]:
list=['Red','Green','White','Black','Pink','Yellow']
pos=[0,4-1,5-2]
for i in pos:
    list.pop(i)
print(list)

['Green', 'White', 'Black']

### 3. WAP to print the numbers of specified list after removing the even numbers from it

In [60]:
list=[12,37,87,25,90,44,85,34]
new_list=[]
for i in list:
    if i%2!=0:
        new_list.append(i)
new_list

[37, 87, 25, 85]

### 4.WAP to shuffle and print the specified list

In [66]:
from random import shuffle
Fruits=['apple','mango','banana','lichi','kiwi']
shuffle(Fruits)
print(Fruits)

['mango', 'kiwi', 'lichi', 'banana', 'apple']

### 5. Generate and print the a list of first and last 5 elements where the values are square of the numbers between two numbers

In [69]:
def values():
    list=[]
    for i in range(1,30):
        a=i*i
        list.append(a)
    print(list[:5])
    print(list[-5:])

values()

[1, 4, 9, 16, 25]
[625, 676, 729, 784, 841]

### 6.Print the letter G in the form of * pattern

In [6]:
for row in range(7):
    for col in range(6):
        if (col==0 or (col==4 and row!=1 and row!=2)) or ((row==0 and col!=5) or (row==6 and col!=5) or(row==3 and col!=1 and col!=2) and (col>0)):
            print("*",end='')
        else:
            print(end=" ")
    print()

*****
*
*
*  ***
*   *
*   *
*****

### 7.Print the letter H in the form of * pattern¶

In [14]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4) or (row==3):
            print("*",end='')
        else:
            print(end=' ')
    print()

*   *
*   *
*   *
*****
*   *
*   *
*   *

### 8.Print the letter I in the form of * pattern

In [19]:
for row in range(7):
    for col in range(5):
        if (col==2) or (row==0 or row==6):
            print("*",end='')
        else:
            print(end=' ')
    print()

*****
  *
  *
  *
  *
  *
*****

### 9.Print the letter J in the form of * pattern

In [28]:
for row in range(7):
    for col in range(5):
        if (row==0 or (row==6 and col!=3 and col!=4)) or (col==2 and row!=0):
            print("*",end='')
        else:
            print(end=' ')
    print()

*****
  *
  *
  *
  *
  *
***

### 10.Print the letter K in the form of * pattern¶

In [36]:
for row in range(7):
    for col in range(5):
        if (col==0) or (col==1 and row==3) or (col==2 and (row==2 or row==4)) or (col==3 and (row==1 or row==5)) or (col==4 and (row==0 or row==6)):
            print("*",end='')
        else:
            print(end=" ")
    print()

*   *
*  *
* *
**
* *
*  *
*   *