### 1. WAP to sort (ascending and decending) a dictionary by value

In [6]:
import operator
dict={1:2,8:4,3:4,5:3,2:1}
ascending_dict=sorted(d.items(),key=operator.itemgetter(1))
decending_dict=sorted(d.items(),key=operator.itemgetter(1),reverse=True)
print("Sorted dictionary in ascending order is",ascending_dict)
print("Sorted dictionary in decending order is",decending_dict)

Sorted dictionary in ascending order is [(2, 1), (1, 2), (5, 3), (8, 4), (3, 4)]
Sorted dictionary in decending order is [(8, 4), (3, 4), (5, 3), (1, 2), (2, 1)]

### 2. WAP to add a key to dictinary

In [11]:
dict={'Name':'Rashi','Age':20,'City':'Nagpur'}
dict.update({'Color':'Pink'})
dict

{'Name': 'Rashi', 'Age': 20, 'City': 'Nagpur', 'Color': 'Pink'}

### 3. WAP to concatenate the following dictionaries to create new one

In [14]:
dict1={1:'a',2:'b',3:'c'}
dict2={4:'yellow',5:'black',6:'brown'}
dict3={7:'apple',8:'kiwi'}

concatenated_dict=dict1.copy()
concatenated_dict.update(dict2)
concatenated_dict.update(dict3)

print("New concatenated dictionary is",concatenated_dict)

New concatenated dictionary is {1: 'a', 2: 'b', 3: 'c', 4: 'yellow', 5: 'black', 6: 'brown', 7: 'apple', 8: 'kiwi'}

### 4. WAP to check whether given key already exists in dictionary

In [26]:
dict={'Name':'Rashi','Age':20,'City':'Nagpur'}
def key_to_check(x):
    if x in dict:
        print("Key exists in dictionary")
    else:
        print("Key does not exists in dictionary")

key_to_check('Age')
key_to_check('color')

Key exists in dictionary
Key does not exists in dictionary

### 5.WAP to iterate over dictionary using for loop

In [43]:
dict={'Name':'Rashi','Age':20,'City':'Nagpur'}
for i,j in dict.items():
    print(i,':',j)

Name : Rashi
Age : 20
City : Nagpur

### 6. Print Letter L in the form of * pattern

In [51]:
for row in range(7):
    for col in range(5):
        if (col==0) or (row==6 and col!=0):
            print("*",end=' ')
        else:
            print(end=" ")
    print()

*
*
*
*
*
*
* * * * *

### 7. Print Letter M in the form of * patternÂ¶

In [65]:
for row in range(7):
    for col in range(7):
        if (col==0 or col==6) or (row==1 and (col==1 or col==5)) or (row==2 and (col==2 or col==4)) or (row==3 and col==3):
            print("*",end='')
        else:
            print(end=" ")
    print()

*     *
**   **
* * * *
*  *  *
*     *
*     *
*     *

### 8.Print Letter N in the form of * patternÂ¶

In [100]:
for row in range(6):
    for col in range(6):
        if (col==0 or col==5) or (row==1 and col==1) or (row==2 and col==2) or (row==3 and col==3) or (row==4 and col==4):
            print("*",end='')
        else:
            print(end=' ')
    print()

*    *
**   *
* *  *
*  * *
*   **
*    *

### 9. Print Letter O in the form of * pattern

In [127]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row!=0 and row!=6)) or ((row==0 or row==6) and (col>0 and col<4)):
            print("*",end='')
        else:
            print(end=' ')
    print()

 ***
*   *
*   *
*   *
*   *
*   *
 ***

### 10. Print Leter P in the form of * pattern

In [152]:
for row in range(7):
    for col in range(5):
        if (col==0 or (col==4 and (row==1 or row==2))) or ((row==0 or row==3) and (col>0 and col<4)):
            print("*",end='')
        else:
            print(end=' ')
    print()

****
*   *
*   *
****
*
*
*