### 1. Sum the numbers from 1 to 20 using for loop

In [2]:
sum=0
for i in range(1,21):
    sum=sum+i
print(sum)

210

### 2. Display the numbers in reverse from 100 to 1

In [7]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

### 3. Display multiples of 2 from 10 to 50 using range

In [10]:
for i in range(10,50):
    if i%2==0:
        print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

### 4. From the below nested dictionary, pick the word "Bangalore".

In [37]:
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}
d['2'][1]['Two'][3]['Place'][3]

'Bangalore'

### 5. Use functions to return square of numbers from 2 to 5

In [40]:
def square(a):
    return a*a

for i in range(2,6):
    print(square(i))

4
9
16
25