### 1. Write a Pandas Program to convert a numpy array to Pandas series

In [2]:
import numpy as np
import pandas as pd
array=np.array([10,20,30,40,50])
print('Original Array:')
print(array)
series=pd.Series(array)
print('Converted numpy array into panads series')
print(series)

Original Array:
[10 20 30 40 50]
Converted numpy array into panads series
0    10
1    20
2    30
3    40
4    50
dtype: int32

### 2. Write a pandas program to change data type of given column or series

In [5]:
import pandas as pd
s1=pd.Series(['100','200','python','50.37','900'])
print('Origial Array:')
print(s1)
print('Change the said data type to numeric:')
s2=pd.to_numeric(s1, errors='coerce')
print(s2)

Origial Array:
0       100
1       200
2    python
3     50.37
4       900
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3     50.37
4    900.00
dtype: float64

### 3. Write a pandas program to convert the first column of DataFrame as series

In [10]:
import pandas as pd
d={'col1':[1,2,3,4,5,6], 'col2':[3,1,0,8,2,7], 'col3':[6,11,3,4,20,1]}
df=pd.DataFrame(data=d)
print(df)
s1=df.iloc[:,0]
print('\n1st column as a Series:')
print(s1)
print(type(s1))

   col1  col2  col3
0     1     3     6
1     2     1    11
2     3     0     3
3     4     8     4
4     5     2    20
5     6     7     1

1st column as a Series:
0    1
1    2
2    3
3    4
4    5
5    6
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

### 4. Write a Pandas program to convert given series into array

In [13]:
import pandas as pd
s1=pd.Series([1,2,4,5,10,3,7])
print('Original Series:')
print(s1)
print('Converted series into array:')
array=np.array(s1)
print(array)

Original Series:
0     1
1     2
2     4
3     5
4    10
5     3
6     7
dtype: int64
Converted series into array:
[ 1  2  4  5 10  3  7]

### 5. Write a Pandas program to convert series of list into one Series

In [18]:
import pandas as pd
s1=pd.Series([['red','blue','white'],['yellow','brown'],['black','pink']])
print('Original series of list')
print(s1)
s1=s1.apply(pd.Series).stack().reset_index(drop=True)
print('One Series')
print(s1)

Original series of list
0    [red, blue, white]
1       [yellow, brown]
2         [black, pink]
dtype: object
One Series
0       red
1      blue
2     white
3    yellow
4     brown
5     black
6      pink
dtype: object