### 1. Write a python program to unpack a tuple into sevaral variables.

In [4]:
t1= (3,7,8)
print(t1)

n1,n2,n3=t1
print(n1,',',n2,',',n3)

(3, 7, 8)
3 , 7 , 8

### 2. Write a python program to add an item to a tuple.

In [13]:
t1=(3,0,4,6,1,9,5)
print(t1)

t2=t1+(18,)
print(t2)

(3, 0, 4, 6, 1, 9, 5)
(3, 0, 4, 6, 1, 9, 5, 18)