### 1. WAP to print the only add numbers from the given list using while loop

In [10]:
L=[23,45,32,25,46,33,71,90]
i=0
while(i<len(L)):
    if L[i]%2!=0:
        print(L[i])
    i=i+1

23
45
25
33
71

### 2. WAP to print all the characters in the string using while loop

In [13]:
str='PYTHON'
i=0
while(i<len(str)):
    print(str[i])
    i=i+1

P
Y
T
H
O
N

### 3. WAP to find sum of following series

In [11]:
# S=1+4-9+16-25+36-----n terms

n=int(input('Enter number:'))
i=2
sum=1
while (i<=n):
    if i%2==0:
        sum=sum+(i**2)
       
    else:
        sum=sum-(i**2)
    i=i+1    
print(sum)

Enter number: 8

38

### 4. WAP to find sum of following series

In [27]:
# S=1+2+6+24+120----n

n=6
i=1
sum=0
num=1
while(i<=n):
    num=num*i
    print(num,end='+')
    sum=sum+num*i
    i=i+1
print(' =',sum)

1+2+6+24+120+720+ = 5039

### 5.WAP to find the sum of following series

In [36]:
# S=1+8+27+-----+n terms

n=int(input('Enter a number :'))
i=1
sum=0
while(i<=n):
    sum=sum+i**3
    i=i+1
print("Sum =",sum)

Enter a number : 5

Sum = 225

### 6. WAP to print the pattern

In [6]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### 7. WAP to print the pattern¶

In [11]:
n=5
for i in range(1,n+1):
    for j in range(i,n+1):
        print(" ",end=' ')
    for j in range(1,i+1):
        print(j,end=' ')

    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

### 8.WAP to print the pattern¶

In [15]:
n=5
for i in range(1,n+1):
    for j in range(i,n+1):
        print(j,end=' ')
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

### 9.WAP to print the Pattern

In [20]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(' ',end=' ')
    for j in range(i,n+1):
        print(j,end=' ')
    print()

  1 2 3 4 5
    2 3 4 5
      3 4 5
        4 5
          5

### 10.WAP to print the pattern

In [6]:
n=6
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1