### 1.WAP to print the following string in specific format

In [2]:
print("Twinkle, Twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \n Twinkle, Twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, Twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
 Twinkle, Twinkle, little star,
	How I wonder what you are!

### 2. WAP that calculates the area of circle based on radius enterd by user

In [5]:
def area_of_circle(radius):
    pi=3.14
    area=pi*(radius**2)
    return area

area_of_circle(5.20)

84.9056

### 3. WAP to print the first and last name in reverse order with a space between them

In [10]:
first_name=input('Enter a first name :')
last_name=input('Enter a last name :')
name=last_name+' '+first_name
print(name)

Enter a first name : Ruchi
Enter a last name : Jibhakate

Jibhakate Ruchi

### 4. WAP that accepts a sequence of comma-separated numbers from the user and generates a list and tuple of those numbers

In [24]:
sequence_of_numbers=input("Enter a comma-separated numbers :")
list=sequence_of_numbers.split(",")
tuple=tuple(list)
print("List :",list)
print("Tuple :",tuple)

Enter a comma-separated numbers : 34,16,3,85,4

List : ['34', '16', '3', '85', '4']
Tuple : ('34', '16', '3', '85', '4')

### 5. WAP that accepts a filename from the user and prints the extention of the file

In [27]:
file_name=input("Enter a File name :")
file_extension=file_name.split('.')
print(file_extension[-1])

Enter a File name : abc.csv

csv

### 6. WAP to display first and last colors from the following list

In [5]:
color_list=['Red','Green','White','Black']
print(color_list[0])
print(color_list[-1])

Red
Black

### 7. WAP to display the examination schedule.

In [39]:
exam_start_date=(11,12,2014)
print("Examination will start from: %i/%i/%i"%exam_start_date)

Examination will start from: 11/12/2014

### 8. WAP that accepts integer (n) and computes the value of n+nn+nnn

In [3]:
n=int(input("Enter a value of n :"))
n1=int('%s' % n)
n2=int('%s%s' % (n,n))
n3=int('%s%s%s' % (n,n,n))
print(n1+n2+n3)

Enter a value of n : 5

615

### 9. WAP to print the documents (syntax,description etc) of  python built-in functions

In [8]:
print(abs.__doc__)

Return the absolute value of the argument.

In [12]:
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

In [16]:
print(len.__doc__)

Return the number of items in a container.

In [20]:
print(max.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

### 10. WAP to print the calendar of for given month and year

In [25]:
import calendar
year=int(input("Enter the year :"))
month=int(input("Enter the month :"))
print(calendar.month(year,month))

Enter the year : 2020
Enter the month : 12

   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31