### 1. WAP to accept 10 numbers from the user and display the largest and smallest number

In [28]:
list=[]
i=1
while(i<=10):
    num=int(input("Enter a number :"))
    list.append(num)
    i=i+1
list.sort()
print("Largest number is ",list[-1])
print("Smallest number is ",list[0])

Enter a number : 32
Enter a number : 46
Enter a number : 29
Enter a number : 49
Enter a number : 30
Enter a number : 59
Enter a number : 76
Enter a number : 45
Enter a number : 38
Enter a number : 88

Largest number is  88
Smallest number is  29

### 2. WAP to print the number of vowels in the given string

In [11]:
str=input("enter a number:")
count=0
for j in str:
    if j=='a':
        count=count+1
    elif j=='e':
        count=count+1
    elif j=='i':
        count=count+1
    elif j=='o':
        count=count+1
    elif j=='u':
        count=count+1
print(count)

enter a number: beautiful

5

### 3. WAP to accept the number of days from the user and calculate the charge for the library according to given criteria

In [23]:
days=int(input("Enter the number of days :"))
if (0<days<=5):
    charge=days*2         # 2Rs per day
elif (6<=days<=10):
    charge=days*3    # 3Rs per days
elif(11<=days<=15):
    charge=days*4     # 4 rs per days
else:
    charge=days*5   # 5 Rs per day
    
print("Total charge for the library is",charge)

Enter the number of days : 10

Total charge for the library is 30

### 4. Consider the following code 
###  What will the below code print if the variables i,j,k have the following values

In [5]:
def values(i,j,k):
    if (i<j):
        if (j<k):
            i=j
        else:
            j=k
    else:
        if j>k:
            j=i
        else:
            i=k
    return(i,j,k)

In [7]:
a=values(3,5,7)
a

(5, 5, 7)

In [9]:
b=values(-2,-5,9)
b

(9, -5, 9)

In [11]:
c=values(8,15,12)
c

(8, 12, 12)

In [13]:
d=values(13,15,13)
d

(13, 13, 13)

In [15]:
e=values(3,5,17)
e

(5, 5, 17)

In [19]:
f=values(25,15,17)
f

(17, 15, 17)

### 5. Accept the kilometers covered and calculate the bill according to following criteria

In [34]:
km=int(input("Enter a kilometers covered :"))
if km<=10:
    bill=km*11      #Rs 11/km
elif 10<km<=100:
    bill=110+(km-10)*10     # Rs 10/km
else:
    bill=1010+(km-100)*9 # Rs 9/km
print("Total bill is",bill)

Enter a kilometers covered : 68

Total bill is 690

### 6. Accept the marks of english, math, science, social studies subjects and display the stream allotted according to the following criteria

In [38]:
Em=int(input("Enter the marks of english :"))
Mm=int(input("Enter the marks of math :"))
Sm=int(input("Enter the marks of science :"))
SSm=int(input("Enter the marks of social studies :"))

if (Em>80 and Mm>80 and Sm>80 and SSm>80):
    print("Science Stream ia alloted")
elif (Em>80 and Mm>50 and Sm>50):
    print("Commerce Stream is alloted")
elif (Em>80 and SSm>80):
    print("Humanities is alloted")
else:
    print("Enter the correct information")

Enter the marks of english : 90
Enter the marks of math : 60
Enter the marks of science : 68
Enter the marks of social studies : 30

Commerce Stream is alloted

### 7. Evaluate the following statements

In [43]:
a=True
b=True
c=True 
d=True

In [45]:
print(not a)

False

In [47]:
print(b)

True

In [49]:
print(not a and b and c)

False

In [51]:
print(not a and not b and not c)

False

In [53]:
print(a and b and c)

True

In [55]:
print(b and not c)

False

### 8. Pattern

In [68]:
n=int(input("enter a number :"))
for i in range(1,n+1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

enter a number : 5

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### 9. Pattern

In [85]:
n=int(input("Enter a number:"))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter a number: 5

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

### 10. Pattern

In [95]:
n=int(input("Enter a number:"))
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

Enter a number: 5

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1